html, body{

	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;

}

/* Centered Map */

.map{
	position: absolute;
	padding: 0;
	left: 0;
	right: 0;
	bottom: 0px;
	margin: auto 0;
	text-align: center;
	/*border: solid black 1px;*/

	height: 100%;

	width: 100%;

}

/* Centered Map [x]*/

/* Main Canvas */

.canvas{
	
	position: absolute;
	height: 100%;
	width: 100%;

	/* lowest possible device resolution */

	min-height: 200px;
	min-width: 200px;
	overflow: hidden;

}

/* Main Canvas [x]*/







/* Tool Bar */

#toolbar{
	position: absolute;
	height: 50px;
	width: 100%;
	left: 0px;
	bottom: 10px;
	pointer-events: auto;
}

/* Tool Bar [x]*/

/* Post Button */

#post{
	position: absolute;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	bottom: 0px;
	margin-left: 10px;
	border-radius: 50px;
	opacity: 0.8;
}

/* Post Button [x]*/

/* Logo Button */

#logo{
	position: absolute;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	bottom: 0px;
	right: 10px;
	border-radius: 50px;
	opacity: 0.8;
}

/* Logo Button [x]*/

/* Hide Options */

#hideoptions{
	position: absolute;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	bottom: 0px;
	margin-left: 10px;
	border-radius: 50px;
	opacity: 0.8;
	display: none;
}

/* Hide Options [x]*/

/* Options */

#options{
	position: absolute;
/*	width: 195px;*/
	width: 50px;
	height: 50px;
	bottom: 0px;
	margin-left: 10px;
	opacity: 1.0;
}

/* Options [x]*/

/* Options Style */

.optionstyle{
	position: absolute;
	bottom: -5px;
	right: 0;
	cursor: pointer;
}

/* Options Style[x]*/

/* Hide Options */

#hideextras{
	position: absolute;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	bottom: 0px;
	right: 10px;
	border-radius: 50px;
	opacity: 0.8;
	display: none;
}

/* Hide Options [x]*/

/* Options */

#extras{
	position: absolute;
/*	width: 195px;*/
	width: 50px;
	height: 50px;
	bottom: 0px;
	right: 10px;
	opacity: 1.0;
}

/* Options [x]*/

/* Options Style */

.extrastyle{
	position: absolute;
	bottom: -5px;
	left: 0;
	cursor: pointer;
}

/* Options Style [x]*/

/* Text Post*/

#text{
	margin-right: 100px;
	display: none;
	opacity: 0;
}

/* Text Post [x]*/

/*Picture Post */

#picture{
	margin-right: 50px;
	display: none;
	opacity: 0;
}

/*Picture Post [x]*/

/* Alert Post */

#alert{
	margin-right: 0;
	display: none;
	opacity: 0;
}

/* Alert Post [x]*/

/* About Page*/

#about{
	margin-left: 100px;
	display: none;
	opacity: 0;
}

/* About Page [x]*/

/*Contact Page */

#contact{
	margin-left: 50px;
	display: none;
	opacity: 0;
}

/*Contact Page [x]*/

/* Feeds Page */

#feeds{
	margin-left: 0;
	display: none;
	opacity: 0;
}

/* Feeds Page [x]*/